{% extends 'frontend/base.html' %}
{% load static %}

{% block title %} Olade - My Courses {% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'frontend/assets/css/datatables/datatables.min.css' %}">
{% endblock %}

{% block page-title %} {{ object.course.course_code }}: {{ object.course }} {% endblock %}
{% block breadcrumb %} {{ object.course.course_code }}: {{ object.course }} {% endblock %}


{% block content %}
    <div class="row flex-row">
        <div class="col-xl-9 col-9">
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h3>Course Content</h3>
                </div>
                <div class="widget-body">
                    <div>
                        {{ object.course.description | safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-3">
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h3>Course Outline</h3>
                </div>
                <div class="widget-body">
                    <div>
                        {{ object.course.outline | safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-12">
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h3>Course Modules</h3>
                </div>
                <div class="widget-body">
                    <div class="table-responsive">
                    <table id="sorting-table" class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Module</th>
                                <th>Date Access Granted</th>
                                <th>Date Expired</th>
                                <th><span style="width:100px;">Status</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in object.course.modules.all %}
                            <tr>
                                <td>{{ row.order }}</td>
                                <td>{{ row.name }}</td>
                                <td>

                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span style="width:100px;">
                                        {% if row.payment_status == 'paid' %}
                                            <span class="badge-text badge-text-small success">
                                        {% elif row.payment_status == 'partly' %}
                                            <span class="badge-text badge-text-small info">
                                        {% else %}
                                            <span class="badge-text badge-text-small danger">
                                        {% endif %}
                                                {{ row.get_payment_status_display }}
                                            </span>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'frontend/assets/vendors/js/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'frontend/assets/vendors/js/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/components/tables/tables.js' %}"></script>
{% endblock %}