{% extends 'frontend/base.html' %}
{% load static %}

{% block title %} Olade - Change Password {% endblock %}

{% block page-title %} Change Password {% endblock %}
{% block breadcrumb %} Change Password {% endblock %}

{% block content %}
<!-- Begin Row -->
<div class="row flex-row">
    <div class="col-xl-12 col-12">
        <!-- Sorting -->
        <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h4>Change Your Password</h4>
            </div>
            <div class="widget-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group row d-flex align-items-center mb-5">
                        <label class="col-lg-3 form-control-label">New Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" name="new_password1">
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <label class="col-lg-3 form-control-label">Confirm New Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" name="new_password2">
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <label class="col-lg-3 form-control-label"></label>
                        <div class="col-lg-9">
                            <button type="submit" class="btn btn-success mr-1 mb-2">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Sorting -->
    </div>
</div>
<!-- End Row -->
{% endblock %}