{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Olade - Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Google Fonts -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
          WebFont.load({
            google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
        </script>
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/assets/img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/assets/img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/assets/img/favicon-16x16.png' %}">
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{% static 'frontend/assets/vendors/css/base/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/assets/vendors/css/base/elisyam-1.5.min.css' %}">
        <link rel="stylesheet" href="{% static 'frontend/assets/css/animate/animate.min.css' %}">
        <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>
    <body class="bg-white">
        <!-- Begin Preloader -->
        <div id="preloader">
            <div class="canvas">
                <img src="{% static 'frontend/assets/img/olade-logo-dark.png' %}" alt="logo" class="loader-logo">
                <div class="spinner"></div>
            </div>
        </div>
        <!-- End Preloader -->
        <!-- Begin Container -->
        <div class="container-fluid no-padding h-100">
            <div class="row flex-row h-100 bg-white">
                <!-- Begin Left Content -->
                <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 col-12 no-padding">
                    <div class="elisyam-bg background-03">
                        <div class="elisyam-overlay overlay-08"></div>
                        <div class="authentication-col-content-2 mx-auto text-center">
                            <div class="logo-centered">
                                <img src="{% static 'frontend/assets/img/olade-logo-dark.png' %}" alt="logo">
                            </div>
                            <h1>Change Password</h1>
                            <span class="description">
                                You must have registered for a course on our <a target="_blank" href="https://oladeconsulting.com">website</a> to proceed.
                            </span>
                            <ul class="login-nav nav nav-tabs mt-5 justify-content-center">
                                <li><a class="active" target="_blank" href="https://oladeconsulting.com">Visit our Website</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Left Content -->
                <!-- Begin Right Content -->
                <div class="col-xl-9 col-lg-7 col-md-7 col-sm-12 col-12 my-auto no-padding">
                    <!-- Begin Form -->
                    <div class="authentication-form-2 mx-auto">
                        <div class="tab-content" id="animate-tab-content">
                            <!-- Begin Sign In -->
                            <div role="tabpanel" class="tab-pane show active" id="singin" aria-labelledby="singin-tab">
                                <h3>Password Reset</h3>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.errors }}
                                    <div class="group material-input">
        							    <input type="password" name="new_password1" required>
        							    <span class="highlight"></span>
        							    <span class="bar"></span>
        							    <label>New Password</label>
                                        {% if form.new_password1.errors %}
                                        <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="group material-input">
        							    <input type="password" name="new_password2" required>
        							    <span class="highlight"></span>
        							    <span class="bar"></span>
        							    <label>Confirm Password</label>
                                        {% if form.new_password2.errors %}
                                        <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col text-right">
                                            <a href="{% url 'users:login' %}">Sign in</a>
                                        </div>
                                    </div>
                                    <div class="sign-btn text-center">
                                        <input type="submit" class="btn btn-lg btn-gradient-01" value="Submit" />
                                    </div>
                                </form>
                            </div>
                            <!-- End Sign In -->
                        </div>
                    </div>
                    <!-- End Form -->
                </div>
                <!-- End Right Content -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Container -->
        <!-- Begin Vendor Js -->
        <script src="{% static 'frontend/assets/vendors/js/base/jquery.min.js' %}"></script>
        <script src="{% static 'frontend/assets/vendors/js/base/core.min.js' %}"></script>
        <!-- End Vendor Js -->
        <!-- Begin Page Vendor Js -->
        <script src="{% static 'frontend/assets/vendors/js/nicescroll/nicescroll.min.js' %}"></script>
        <script src="{% static 'frontend/assets/vendors/js/noty/noty.min.js' %}"></script>
        <script src="{% static 'frontend/assets/vendors/js/app/app.min.js' %}"></script>
        <!-- End Page Vendor Js -->
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );

                {% for message in messages %}
                setTimeout(function(){
                    new Noty({
                        text:'<div class="text-center">{{ message }}</div>',
                        type:"{{ message.tags }}",
                        layout:"topRight",
                        timeout:3000,
                        animation:{open:"animated bounceInRight",close:"animated bounceOutRight"}
                    }).show()},3000);

                {% endfor %}

            });
        </script>
        <!-- Begin Page Snippets -->
        <script src="{% static 'frontend/assets/js/components/tabs/animated-tabs.min.js' %}"></script>
        <!-- End Page Snippets -->
    </body>
</html>